
.nav-space {
    width: max;
    height: 48px;
    overflow: hidden;
}

.bg-blue {
    background-color: $blue;
    padding-bottom: 32px;
}

.section-wrapper {   
    display:flex;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.header-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.header-pic {
    width: 50%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
}

.bloc-center {
    text-align: center;
}

.flex {
    display: flex;
}