<div class="newsletter">
        <div class="text-nl">
            <p>Un seul mail par mois. Le dimanche matin.</p>
            <p>Des actualités sur l'écosystème de l'entrepreneuriat</p>
            
        </div>
        <div class="center mt1">
            <form>
                <input type="email" class="form-nl" placeholder="Votre adresse e-mail">
                <input type="submit" value="Envoyer" class="form-button">
            </form>
        </div>
    </div>