.yel-button {
    min-width: 4rem;
    background-color: $yellow;
    color: $blue;
    text-decoration: none;
    border-radius: 24px;
    padding: .5rem .3rem;
    width: 5rem;
    border: 0;
    font-weight: bold;
    font-size: .6rem;
    transition: .3s;
    &:hover {
        color: white;
        background-color: $blue;
        cursor: pointer;
    }
}

.btn-admin {
    min-width: 6rem;
    color: $blue;
    text-decoration: none;
    border-radius: 24px;
    padding: .5rem .3rem;
    border: 1px solid $blue;
    transition: .3s;
    &:hover {
        color: white;
        background-color: $blue;
        cursor: pointer;
    }
}