.carousel {
    // overflow: hidden;
    position: relative;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        overflow: scroll;
    }
}

.carousel-button {
    z-index: 2;
    position: absolute;
    background: none;
    border: none;
    color: $blue;
    top: 50%;
    transition: .3s;
    &:hover {
        color: $yellow
    }
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.carousel-card {
    width: 300px;
    padding: .5rem;
    margin: 1rem;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, .2);
    border-radius: 16px;
}

.cc-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $black;
}

.bloc-platf-cc {
    a {
        color: $blue;
        font-size: 1.5rem;
        transition: .3s;
        &:hover {
            color: $yellow
        }
    }
    color: $blue;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.carousel-card-pic {
    width: 60%;
    aspect-ratio: 1;
    margin-left: auto;
    margin-right: auto;
}

.blue-hover {
    color: $blue;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
    &:hover {
        color: $yellow;
    }
}

.episodes-link {
    font-weight: bold;
    color: $blue;
    text-decoration: none;
    transition: .3s;
    &:hover {
        color: $yellow;
    }
}

.c-vrac {
    width: 7rem;
    color: $black;
    font-family: 'Rock Salt', cursive;
    position: relative;
    transform: translate(1000px, 50px) rotate(10deg);
}