.bloc-form {
    width: 300px;
    margin: 5rem auto;
    text-align: center;
    min-height: 65vh;
}

.form-user-button {
    color: white;
    background-color: $blue;
    border: none;
    padding: .5rem 1rem;
    border-radius: 8px;
    transition: .3s;
    &:hover {
        background-color: $yellow;
        color: $blue;
    }
}

.form-inputs:first-child {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.form-check {
    border: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: .5rem 0;
}

.form-control {
    width: 100%;
    border-radius: 8px;
    padding: .1rem .5rem;
}

fieldset {
    border: none;
}

.form-check-label {
    margin-left: .5rem;
}