// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "nlblock";
@import "episodecard";
@import "logo";
@import "carroussel";
@import "blog";
@import "footer";
@import "curve";
@import "episode";
@import "formlogin";
@import "admin";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.bloc {
    width: 1100px;
    margin: 5rem auto;
}

.flex {
    display: flex;
}

.white {
    color: white;
}

.blue {
    color: $blue;
}

.black {
    color: $black
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.center {
    display: grid;
    place-items: center;
}

.mt1 {
    margin-top: 1rem;
}

.maj {
    text-transform: uppercase;
}

.mt2 {
    margin-top: 2rem;
}

.mb1 {
    margin-bottom: 1rem;
}