// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "nlblock";
@import "episodecard";
@import "logo";
@import "carroussel";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}