// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "nlblock";
@import "episodecard";
@import "logo";
@import "blog";
@import "footer";
@import "curve";
@import "episode";
@import "formlogin";
@import "admin";
@import "carousel";
@import "actiontext";


* {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

.bloc {
    width: 1100px;
    margin: 5rem auto;
    position: relative;
}

.flex {
    display: flex;
}

.white {
    color: white;
}

.blue {
    color: $blue;
}

.black {
    color: $black
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.center {
    display: grid;
    place-items: center;
}

.mt1 {
    margin-top: 1rem;
}

.maj {
    text-transform: uppercase;
}

.mt2 {
    margin-top: 2rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.mg-0 {
    margin: 0;
}

.mgb-0 {
    margin-bottom: 0;
}

.bold {
    font-weight: bold;
}

.link-blue {
    color: $blue;
    transition: .3s;
    text-decoration: none;
    &:hover {
        color: $yellow;
    }
}