.newsletter {
    margin: 5rem auto;
    width: 972px;  
    background-color: $blue;
    color: white;
    border-radius: 16px;
    font-weight: bold;
    padding: 64px;
    
}

.text-nl {
     text-align: center;
}

.form-nl {
    padding-left: 1rem;
    border-radius: 16px;
    border: none;
    height: 32px;

}

.form-button {
    background-color: $yellow;
    color: $blue;
    border: none;
    padding: 2px 32px;
    border-radius: 16px;
    font-weight: bold;
}