.newsletter {
    margin: 5rem auto;
    width: 972px;  
    background-color: $blue;
    color: white;
    border-radius: 24px;
    font-weight: bold;
    padding: 64px;
    
}

.text-nl {
     text-align: center;
}

.form-nl {
    text-align: center;
}